################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/myBookStore/.vs/myBookStore/v16
/myBookStore/myBookStore/obj
